*.bak
*.orig
*.ipch
*.lib
*.db
*.ilk
*.pdb
*.obj
*.dll
*.tlog

/**/venv
/**/env
/**/venv/**
/**/__pycache__
/**/.vscode
/**/.idea

.coverage
.hypothesis
build

docs/source/_autosummary/*.rst

testing/example_files/**/*.h
testing/example_files/**/*.c
testing/example_files/Customer_A/*data_stream.xml
testing/example_files/Customer_B/*data_stream.xml
testing/c_testing/build