#enter with \\ for folder path
DBC_FILENAME="C:\\Projects\\FRAMEWORK_and_RESIM\\DGPS\\CAN_decoding\\DGPS_RT_Range\\DBC\\RT-Range_ALL.DBC"
OUTPUT_FOLDER_PATH="C:\\Projects\\FRAMEWORK_and_RESIM\\DGPS\\CAN_decoding\\DGPS_RT_Range\\Generated_from_Aravindh_Tool"
CLASS_NAME_FOR_MESSAGES="RT_RANGE_CAN"
TX_NODES="RTRange"
SIGNAL_MAPPING_TABLE="C:\\Projects\\FRAMEWORK_and_RESIM\\DBC_files\\Sadanand\\Signal_mapping_table.csv"