{
	version : "2.0",
	standard :"cpp2008",
	title: "Aptiv IDI Standard MISRA Compliance",
	deviations : [
	   { deviation: "Rule 0-1-2", reason: "This is highly likely to occur with configuring reusable blocks and doesn't generate real problems." },
	   { deviation: "Rule 0-1-5", reason: "Developing reusable components, it will have a high likelihood that this will be flagged when it didn't represent a real problem." },
	   { deviation: "Rule 0-1-6", reason: "This would be too high risk with no clear addressing of real issues." },
	   { deviation: "Rule 0-1-10", reason: "Reusable component will have a large amount of general purpose behavior that will not be used in a given project." },
	   { deviation: "Rule 16-0-3", reason: "Use of x-macro design pattern provides benefits that are more important than any confusion caused by the use of undef." },
	   { deviation: "Rule 16-2-1", reason: "We require conditional compilation to support flexible software component development." },
	   { deviation: "Rule 16-2-2", reason: "Use of x-macro design pattern provides benefits that are more important than any confusion caused by the use of undef." },
	   { deviation: "Rule 16-3-2", reason: "These are used for debug and x-macros." },
	   { deviation: "Rule 17-0-4", reason: "We can't show documentation that all C++ libraries are compliant because of open source and third party code." },
	   { deviation: "Rule 18-4-1", reason: "Use of smart pointers that are supported by new versions of C++ standards help alleviate a lot of these issues." },
	   { deviation: "Rule 18-7-1", reason: "Use of signal handlers is important for debug and handling signals" },
	   { deviation: "Rule 19-3-1", reason: "We use errno to identify errors that occur, not to check for whether an error occurred." },
	]
}