{
	version : "2.0",
	standard :"c2012",
	title: "Aptiv IDI Standard MISRA Compliance",
	deviations : [
	   { deviation: "Directive 3.1", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Directive 4.12", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Directive 4.6", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Directive 4.9", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Directive 4.7", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Rule 10.1", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.2", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.3", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.4", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.5", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.6", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.7", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 10.8", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 11.5", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 12.1", reason: "This rule has been disabled in Coverity and will be supported via peer review and Coverity quality checkers." },
	   { deviation: "Rule 14.3", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Rule 15.5", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 17.1", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 17.7", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 18.4", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Rule 19.2", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 20.10", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 20.12", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 20.5", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 21.10", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 21.15", reason: "This rule has been disabled in Coverity and will be supported via peer review." },
	   { deviation: "Rule 21.3", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 21.5", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 21.6", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 21.8", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 5.6", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 5.7", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 5.9", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 8.7", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 8.9", reason: "This rule has been disabled per the Aptiv MISRA Standards committee." },
	   { deviation: "Rule 2.4", reason: "The MathLibrary provides functionality to others. No need to check for unused functions, the MathLibrary does not use all its own functionality." },
	   { deviation: "Rule 2.5", reason: "The MathLibrary provides functionality to others. No need to check for unused functions, the MathLibrary does not use all its own functionality." },
	   { deviation: "Rule 5.1", reason: "The limit of 31 characters does not play a role for any used compiler." },
	]
}
