# Configuration of the MISS_HIT Matlab style tool
# https://florianschanda.github.io/miss_hit/index.html
# More info here: https://misshit.org/
suppress_rule: "naming_functions"
suppress_rule: "copyright_notice"
suppress_rule: "naming_parameters"
suppress_rule: "naming_scripts"
suppress_rule: "naming_enumerations"
suppress_rule: "naming_classes"
suppress_rule: "unicode"
line_length: 300
file_length: 3000
tab_width: 3
