# Sensor Name
sensor_name FRONT_LEFT
# Version Major
version_major 2
# Version Minor
version_minor 7
# Version Patch
version_patch 0
# Mesh file path (The default path, ../../../../Mesh/OSI_library.obj, is relative to the exe but you can provide any path))
mesh_file_path ./OSI_library.obj
# Bumper angular error file path
bumper_angular_error_file_path ./Bumper_Angular_Error.csv
# Sensor Mounting position X(in m) 
sensor_mounting_position_x 2.5
# Sensor Mounting position Y(in m) 
sensor_mounting_position_y 1.0
# Sensor Mounting position Z(in m) 
sensor_mounting_position_z -0.25
# Sensor Mounting orientation Roll(in rad) 
sensor_mounting_orientation_roll 0.0
# Sensor Mounting orientation Pitch(in rad) 
sensor_mounting_orientation_pitch 0.0
# Sensor Mounting orientation Yaw(in rad) 
sensor_mounting_orientation_yaw 1.047198
# Read sensor mounting from OSI, if enabled the above values will be ignored and sensor mounting details will be filled from sensorview
read_sensor_mounting_from_config_file Y
# Init look id
init_look_id 0
# Customer
customer 0
# Sensor type
sensor_type 0
# Blockage mask azimuth - disabled, instead of NA -> give correct mask
fov_blockage_mask_azimuth NA
# Apply the filter which keeps only those detections pointing towards the sensor? (Y or N)
detection_pointing_towards_sensor_filter Y
# Apply the filter which removes those detections which are within the range and azimuth resolution? (Y or N)
detection_resolution_filter Y
# Maximum number of detections
max_num_of_detections 64
# Process moving object? (Y or N)
process_moving_object Y
# Process stationary object? (Y or N)
process_stationary_object Y
# Process lane boundary? (Y or N)
process_lane_boundary Y
# Process traffic sign? (Y or N)
process_traffic_sign Y
# Control the spacing between lane boundary points. Provide -1 if you want to keep the spacing same as in OSI trace
spacing_between_lane_boundary_points 2
# Include rail in guardrail? (Y or N)
include_rail_in_guardrail Y
# Write timing data to a file
write_timing_data_to_file N
# Maximum acceptable angle(in degrees), between incidence vector and surface normal vector, for processing. Set to 0 to use dynamic threshold
incidence_angle_threshold 0
# Apply bumper_loss of the host? (bumper_loss_no_bumper = 0, bumper_loss_bumper_no_paint=1, bumper_loss_bumper_worst_paint=2)
bumper_loss 1
# Include wheels in vehicle? (Y or N)
include_wheels_in_vehicle Y
# Apply the filter which removes detections beyond a certain range threshold(Range threshold is based on RCS)? (Y or N)
detection_probability_filter Y
# Enable ghost objects due to moving objects near guardrail? (Y or N)
guardrail_ghost_object_filter N
# Read traffic vehicle attributes from OSI trace? (Y or N)
read_traffic_veh_attrib_from_osi Y
# How far from the bb center should the rear wheel be placed, in factor of vehicle_length/2. 0 is at the center. 1 is extreme rear of the vehicle
traffic_bbcenter_to_rear_x_factor 0.8
# How far from the bb center should the front wheel be placed, in factor of vehicle_length/2. 0 is at the center. 1 is extreme front of the vehicle
traffic_bbcenter_to_front_x_factor 0.7
# Ground clearance of the vehicle
traffic_ground_clearance 0.2
# Wheel radius of the traffic vehicle
traffic_wheel_radius 0.2
# Enable Multipath processing? (Y or N)
enable_multipath_processing Y
# Enable occlusion due to road profile? (Y or N)
road_profile_occlusion_filter N
# Set constant RCS for objects or calculate the RCS from mesh? (0 for constant RCS, 1 for calculate RCS from mesh, 2 for use CAS RCS Table)
detection_rcs_calculation_method 2
# Update detection noise based on SNR? (Y or N)
update_detection_noise_based_on_snr Y
# Read host vehicle attributes from OSI trace? (Y or N)
read_host_veh_attrib_from_osi N
# Host vehicle length
host_length 5.0
# Host vehicle width
host_width 2.0
# Host vehicle height
host_height 1.5
# Host bb center to rear axle x(m)
host_bbcenter_to_rear_x -1.5
# Host bb center to rear axle y(m)
host_bbcenter_to_rear_y 0.0
# Host bb center to rear axle z(m)
host_bbcenter_to_rear_z -0.5
# Host bb center to front axle x(m)
host_bbcenter_to_front_x 1.5
# Host bb center to front axle y(m)
host_bbcenter_to_front_y 0.0
# Host bb center to front axle z(m)
host_bbcenter_to_front_z -0.5
# Apply the filter which adds wheel spin effect? (Y or N)
wheel_spin_filter Y
# Enable random position on the triangle surface? (Y or N)
enable_random_position_on_surface Y
# Azimuth Misalignment in radians
azimuth_misalignment 0.0
# Elevation Misalignment in radians
elevation_misalignment 0.0
# Enable micro-doppler on pedestrian? (Y or N)
enable_pedestrian_microdoppler Y
# Write Range Doppler 2D Matrix to file? (Y or N)
write_range_doppler_2d_matrix_to_file N
# Enable General Occluaion Flag
enable_general_occlusion_flag Y
# Virtual Mounting position X(in m) 
virtual_mounting_position_x 2.5
# Virtual Mounting position Y(in m) 
virtual_mounting_position_y 0
# Virtual Mounting position Z(in m) 
virtual_mounting_position_z -0.25
# Virtual Mounting orientation Roll(in rad) 
virtual_mounting_orientation_roll 0.0
# Virtual Mounting orientation Pitch(in rad) 
virtual_mounting_orientation_pitch 0.0
# Virtual Mounting orientation Yaw(in rad) 
virtual_mounting_orientation_yaw 0.0
# Read Virtual mounting from OSI, if enabled the above values will be ignored and sensor mounting details will be filled from sensorview
read_virtual_mounting_from_config_file Y
