#enter with \\ for folder path
DBC_FILENAME="C:\\Users\\9ag2ju\\Documents\\APTIV\\Project\\Issues\\CYW_6700\\DBC\\TKEY_PCAN_SRR_Front_v4_01_64DETS.dbc"
OUTPUT_FOLDER_PATH="C:\\Users\\9ag2ju\\Documents\\APTIV\\Project\\Issues\\CYW_6700\\DBC\\auto-gen-new-repo-1"
CLASS_NAME_FOR_MESSAGES="MCIP_PCAN_SRR_Front_V4_Decoder_DBC"
CUSTOMER = "CEER"
SENSOR = "RL"
TX_NODES=""
SIGNAL_MAPPING_TABLE=""