#enter with \\ for folder path
DBC_FILENAME="C:\Users\px8i4p\Documents\361\CAN_ENet_DBC\PCAN_G5_RDR01_NU_v1_07.dbc"
OUTPUT_FOLDER_PATH="C:\Users\px8i4p\Documents\361\CAN_ENet_DBC\DBCOutputRl"
CLASS_NAME_FOR_MESSAGES="CEER_PCAN_FL_Decoder_DBC"
CUSTOMER = "CEER"
SENSOR = "RL"
TX_NODES=""
SIGNAL_MAPPING_TABLE=""