XML_FILE_PATH="C:\Users\zqdnxm\Downloads\Salellite_PLT_GPO_DBC_MCIP_FLR128Dets_SRR64Dets\TKEY_PCAN_SRR_Front_v2_00_64DETS.dbc"
#ARXML structure seems to be changed in GEN 7. It is not clear it changes based on AUOTOSAR version
# or Customer to Customer. Currently including Custmer Name as an option to identfy the ARXML file. 
# More details is needed on this
# Customer Names Options : GEN7 (For Other customers and DBC/CAN related activity keep the customer name empty)
CUSTOMER_NAME="GEN7"
OUTPUT_FOLDER="C:\Logs\CalDump"
OUTPUT_FILENAME="ENET.h"
OUTPUT_DECODING_FILENAME="Decode_ENET.cpp"
OUTPUT_ENCODING_FILENAME="Encode_ENET.cpp"
#Enter YES if swapping needs to be printed in decoded data, else NO
BSWAP_NEEDED=YES
RELEASE_TAG=""
#Fill Structure names here and Type also. Type is needed to choose between Application and Implementation datatype
#do not remove the semicolon between Structure name and Type name. currently this is used as delimiter
# this will be soon improved to a better arrangement

#STRUCTURE="EgoVelocityStruct";TYPE="IMPLEMENTATION-DATA-TYPE"
STRUCTURE="";TYPE="PDU"
#STRUCTURE="VersionAndParamsEvent_for_LRRF";TYPE="PDU"
#STRUCTURE="FaultsEvent_for_ADCAMe";TYPE="PDU"
#STRUCTURE="SpeedCompFactorEvent_for_ADCAMe";TYPE="PDU"
#STRUCTURE="StatesAndStatusEvent_for_ADCAMe";TYPE="PDU"
#STRUCTURE="VSEEvent_for_LRRF";TYPE="PDU"
#STRUCTURE="IDsAndVersionsEvent_for_ADCAMe";TYPE="PDU"




