INPUT_HEADER_PATH="C:\\Users\\bj84lg\\Desktop\\Demo\\Automate_Tool_Header_File\\XML_CSV_Tool\\smc_cal.h"
#INPUT_HEADER_PATH="C:\\Users\\sj9zp3\\Downloads\\detection_logging_structure.h"
MASTER_STRUCTURE_NAME="SMC_Cal_T"
#MASTER_STRUCTURE_NAME="Detection_Log_Data_T"
OUTPUT_FILE_PATH="C:\\Users\\bj84lg\\Desktop\\Demo\\Automate_Tool_Header_File\\XML_CSV_Tool\\Output"
OUTPUT_FILE_NAME="SMC_print_XML_output.cpp"
#answer as RESIM or EMBEDDED
RESIM_OR_EMBEDDED_STRUCTURE="RESIM"
#answer as YER or NO
IS_BSWAP_NEEDED="NO"
#answer DECODER or XML or CSV
GENERATION_TYPE="XML"
FILEHANDLE_NAME="SMC_DECODE_out"
