#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED FOR SPC FLASHING                 #
#                                                                             #
#-----------------------------------------------------------------------------#

# When sending the spc make sure to flash at offset 0xB0000.
--file=spc.bin --operation=flash --flash-offset=0xB0000
