#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED FOR USC FLASHING                 #
#                                                                             #
#-----------------------------------------------------------------------------#

# When sending the usc make sure to flash at offset 0xA0000.
--file=./usc_cal.bin --operation=flash --flash-offset=0xA0000
