#enter with \\ for folder path
DBC_FILENAME="C:\\Users\\sj9zp3\\Downloads\\ACANFD2_CRDR_Master_v6.0_rev4.dbc"
#DBC_FILENAME="C:\\Projects\\FRAMEWORK_and_RESIM\\DGPS\\Ethernet_Decoding\\RCOMMAN_DBC\\RCOMMAN_DBC.dbc"
OUTPUT_FOLDER_PATH="C:\\Projects\\Archive\\Avinash\\DBC_proj\\Output"
CLASS_NAME_FOR_MESSAGES="RCOMMAN"
#leave below param empty to print output for all Nodes
TX_NODES=""