INPUT_HEADER_PATH="C:\\Users\\sj9zp3\\Downloads\\smc_cal_1.h"
#INPUT_HEADER_PATH="C:\\Users\\sj9zp3\\Downloads\\detection_logging_structure.h"
MASTER_STRUCTURE_NAME="SMC_Cal_T"
#MASTER_STRUCTURE_NAME="Detection_Log_Data_T"
OUTPUT_FILE_PATH="C:/Users/sj9zp3/Desktop/temp/arxml_output"
OUTPUT_FILE_NAME="print_output.cpp"
#answer as RESIM or EMBEDDED
RESIM_OR_EMBEDDED_STRUCTURE="RESIM"
#answer as YER or NO
IS_BSWAP_NEEDED="YES"
#answer DECODER or XML or CSV
GENERATION_TYPE="CSV"
FILEHANDLE_NAME="SMC_DECODE_out"
